{% extends "encyclopedia/layout.html" %} {% block title %} Page is missing |
Encyclopedia {% endblock %} {% block body %}
<div style="margin-left: 10%; margin-top: 10%; font-size: 48px; color: red">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <i class="fa fa-warning"></i>
  <h2 style="color: red">
    We are tirrebly sorry! The page is missing! You can create it if you wish.
  </h2>

  <img
    src="https://v5.airtableusercontent.com/v2/22/22/1699344000000/MCPi0mLpr27uCEISRI7IIg/pZVtVelxv0tmYe9MBLtmeCaSEMHRaraEvm4iXuSx4es4hcpv0O2hueXEdfalgx87wCQwC69bH9m6eNKdsAm-1R2w0Y8Rs-Pz87ti61KJCFwTFIrihcHlVlEoygkVH7TRe0gSXSp9NW4odI54LPNFhA/QbqeUb8FLUixmIjFaSpuO8AQMr0LyAqHB3VQvQrnUTg"
    alt="error messages"
    style="width: 500px; height: 600px"
  />
</div>
{% endblock %}
