{% extends "encyclopedia/layout.html" %} {% block title %} Page is missing |
Encyclopedia {% endblock %} {% block body %}
<div style="margin-left: 10%; margin-top: 10%; font-size: 48px; color: red">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <i class="fa fa-warning"></i>
  <h2 style="color: red">
    We are tirrebly sorry! The page is missing! You can create it if you wish.
  </h2>

  <img
    src="https://cdn.pixabay.com/photo/2020/02/10/11/09/smiley-4836178_1280.png"
    alt="error messages"
    style="width: 500px; height: 600px"
  />
</div>
{% endblock %}
